---
layout: default
---

<header class="home-header">
  <img alt="MSc Geomatics for the Built Environment" src="{{ "/img/bk-voxels.png" | prepend: site.baseurl }}" />
</header>

<main class="container" id="home-content">
  {{ content }}
</main>
<br>
<footer class="site-footer">
  <p>
    <img src="https://icongr.am/simple/github.svg?size=14&color=current&amp;colored=false" alt="GitHub" style="vertical-align: middle" />
    Modify, fix, or propose links:
    <a href="https://github.com/tudelftgeomatics/website/blob/main/_data/links.yml">github.com/tudelftgeomatics/website/</a>
  </p>
  <p>TU Delft · MSc Geomatics for the Built Environment · geomatics@tudelft.nl</p>
</footer>
